@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Roboto:wght@400;700&family=Dancing+Script:wght@700&family=BBH+Sans+Bogle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Colores navide침os */
  --color-christmas-red: #C41E3A;
  --color-christmas-green: #165B33;
  --color-christmas-gold: #FFD700;
  --color-christmas-dark-red: #8B0000;
  --color-christmas-cream: #FFF8E7;
  
  /* Fuentes navide침as */
  --font-family-mountains: 'Cinzel', serif;
  --font-family-dancing: 'Dancing Script', cursive;
  --font-family-bbh-sans: 'BBH Sans Bogle', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mountains {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.font-bbh-sans {
  font-family: 'BBH Sans Bogle', sans-serif;
  font-weight: 400;
}

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}


/* Animaci칩n navide침a removida - tema limpio y festivo */